# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# 환경변수
.env

# 데이터
data/*.csv
data/*.json

# 벡터 DB
chroma_db/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# jh
**/vecDB/
